.resume-content {
    background-color: #FFFFFF;
    color: #000000;
    text-align: justify;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0 auto;
    padding: 1em;
    flex-grow: 1;
    font-size: 80%;
    padding: 0px 100px !important;
}

.resume-content .resume-title-section {
    color: #000000;
    padding: 1em;
    text-align: center;
    margin-bottom: 2em;
    font-size: 90%;
}

.resume-content .resume-name {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5em;
}

.resume-content .resume-header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.resume-content .resume-header-item:not(.no-separator)::after {
    content: " | ";
    color: #FFFFFF;
}

.resume-content h2,
.resume-content h3 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.08em;
    border-bottom: 1px solid #3498db;
    padding-bottom: 0.3em;
    color: #3498db;
}

.resume-content ul,
.resume-content ol {
    padding-left: 0em;
    margin: 0.2em 0;
}

.resume-content ul {
    list-style-type: circle;
}

.resume-content ol {
    list-style-type: decimal;
}

.resume-content dl {
    display: flex;
}

.resume-content dl dt,
.resume-content dl dd:not(:last-child) {
    flex: 1;
}

.resume-content :not(span.katex-display) > span.katex {
    font-size: 0.9em !important;
}

.resume-content svg.iconify {
    vertical-align: -0.2em;
}

.resume-content img {
    max-width: 100%;
}

.resume-content [data-scope="cross-ref"][data-part="definitions"] {
    padding-left: 1.2em;
}

.resume-content [data-scope="cross-ref"][data-part="definition"] p {
    margin-left: 0.5em;
}

.resume-content [data-scope="cross-ref"][data-part="definition"]::marker {
    content: attr(data-label);
}

.resume-content [data-scope="cross-ref"][data-part="reference"] {
    font-size: 100%;
    top: 0;
}

.dark .resume-content {
    background-color: hsl(213, 12%, 15%);
    color: hsl(216, 12%, 84%);
}

@media print {
    .dark .resume-content {
        background-color: #FFFFFF;
        color: #000000;
    }
}

.resume-content .resume-section {
    margin-bottom: 1.5em;
}

.resume-content .resume-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.resume-content .resume-item-left {
    flex: 1;
    text-align: left;
    white-space: nowrap;
}


.resume-item-center {
    flex: 1;
    text-align: center;
}

.resume-content .resume-item-right {
    flex: 1;
    text-align: right;
}

@media (max-width: 600px) {
    .resume-content .resume-header {
        flex-direction: column;
        align-items: center;
    }
    .resume-content .resume-header-item:not(.no-separator)::after {
        content: none;
    }
    .resume-content .resume-name {
        font-size: 1.8em;
    }
    .resume-content .resume-item {
        flex-direction: column;
        text-align: left;
    }
    .resume-content .resume-item-left,
    .resume-content .resume-item-right {
        text-align: left;
    }
}
